.statsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 12%;
    margin-right: 12%;
    column-gap: 0px;
    background-color: rgba(127, 255, 212, 0.589);
}

.statsContainer .stats {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 10px;
    flex-direction: column;
    background: white;
    align-items: center;
    width: 200px;
    height: 300px;
    color: rgba(39, 39, 39, 0.753);
    text-align: center;
    padding: 10px;
}

.statsContainer .stats .mainstats {
    font-size: smaller;
    text-align: left;
}